
body {
  text-align: center;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  
}

.navbar-image {
  /* width: 45px;
  height: 45px; */
  filter: 
    /* hue-rotate(0deg) */
    drop-shadow(14px 16px 16px rgba(2, 94, 233, 0.4));
  transition: 0.2s;
  user-select: none;
}

.navbar-image:hover {
  transform: scale(1.1, 1.1);
}

.navbar-image:active {
  transform: scale(1.1, 1.1);
  filter: 
    /* hue-rotate(220deg) */
    drop-shadow(14px 16px 16px rgb(10, 10, 10))
    /* sepia(0.3); */
}

a{
  color: #242424;
  margin: 0.25em;
  border-radius: 50%;
  transition: all .9s;
}

.title {
  padding:none;
  margin:none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px 

}

h2 {

  text-align: center;
}

h3 {
  border-right: 30px;
  padding-right: 60px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px   
}

.quote{
  border-right: 30px;
  padding-right: 30px;
}

.externallinks{
  border-right: 30px;
  padding-right: 30px;
}


.img{
  
  border-right: 50px;
  padding-right: 60px;
}

#slider {
 position: fixed;
  width: 640px;
  height: 200px;
}

#slider {
  position: relative;
   width: 640px;
   height: 400px;
} 

#slider figure {
  position: relative;
  width: 300%;
  /* margin: 0; */
  /* left: 0; */
  animation: 5s slider infinite;
}

#slider figure img {
  /* position: static; */
  margin-top: 50px;
    margin-left: 200px;
  margin-right: 200px;
  width: 10%;
}


@keyframes slider {

  0% {
    left: 10%;
  }

  10% {
    left: 10%;
  }

  20% {
    left: -90%;
  }

  25% {
    left: -90%;
  }

  35% {
    left: -90%;
  }


  50% {
    left: -190%;
  }

  75% {
    left: -190%;
  }

  100% {
    left: 10%;
  }

}



  /* sources: 
  code: https://codepen.io/pec-man/pen/bGbeXqZ */
